@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
}

.container{
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
    width: 85%;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}

#installApp{
    border: 1px solid #000;
    outline: none;
    border-radius: 6px;

    background-color: #fff;
    color: #000;
    font: bold 13px 'Raleway';

    padding: 4px 9px;
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
}

.side{
    padding: 20px 20px 10px 20px;
    user-select: none;

    /* position: fixed; */
}

.logo{
    display: grid;
    grid-template-columns: 13px auto;
    align-items: center;
    /* gap: 10px; */
    font: bold 24px 'Raleway';
}

.logoImg{
    background: url("assets/logo.svg") no-repeat;
    background-size: contain;
    width: 12px;
    height: 17px;
    /* border: 1px solid red; */
}

.toTop{
    display: none;
    opacity: 0.5;
    margin-left: auto;
    background: url('assets/goToTop.svg') no-repeat;
    background-size: contain;
    background-position: center;
    padding: 12px;
    cursor: pointer;
    z-index: 10;
}

.menu{
    margin-top: 40px;
    list-style-type: none;
    background-color: #fff;
}
.menu li{
    padding: 10px 10px;
    display: flex;
    margin: 10px 0px;
    font: bold 16px 'Raleway';
    align-items: center;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.menu li:hover{
    background: #0000001e;
}

/* MENU ICONS */

.homeIcon{
    background: url("assets/home.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.commIcon{
    background: url("assets/community.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.bookIcon{
    background: url("assets/bookmarks.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.upgIcon{
    background: url("assets/logout.svg") no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.myImage{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 10px;
    object-fit: cover;
}
.myIndexImage{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.uploadIcon{
    display: none;
}

/* MENU ICONS */

.disabled{
    opacity: 0.3;
}

.view{
    height: 100vh;
    /* margin-bottom: 50px; */
    overflow-y: scroll;
}

.home{
    padding: 20px 20px;
}

.heading{
    display: flex;
    flex-direction: column;
}

.home .pageTitle{
    font: bold 28px 'Raleway';
}

.home .pageDesc{
    margin-top: 2px;
    font: 500 14px 'Raleway';
    opacity: 0.5;
}

.articles{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.article{
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    border: 1px solid #00000015;
    margin-top: 10px;
    box-shadow: 0px 0px 10px solid #000000;
    border-radius: 10px;
}

.articleTitle{
    margin-top: 10px;
    font: 800 22px 'Raleway';
}

.articleBy{
    display: grid;
    grid-template-columns: 45px auto;
    gap: 10px;
    align-items: center;

    margin-bottom: 10px;
}

.articleFrom{
    display: grid;
    grid-template-rows: auto auto;
    /* gap: 3px; */
    align-items: center;
}

.articleAuthor{
    margin-top: 3px;
    font: 600 16px 'Raleway';
    opacity: 0.8;
    cursor: pointer;
}
.articleDate{
    margin-top: 3px;
    font: 500 13px 'Raleway';
    opacity: 0.5;
}
.articleText{
    margin-top: 5px;
    font: 400 16px 'Raleway';
    opacity: 0.8;
}

.articleControls{
    width: 150px;
    display: grid;
    grid-template-columns: 60px auto;
    margin-top: 15px;
    align-items: center;
}

.controlsLike{
    display: flex;
    padding: 8px 7px 8px 30px;
    background: url("assets/darkLike.svg") no-repeat;
    background-color: #2b2b2b;
    background-size: 18px;
    background-position: 7px;
    border-radius: 20px;
    color: #fff;

    width: 10px;
    height: 10px;

    align-items: center;
    font: 400 16px 'Raleway';

    user-select: none;
    cursor: pointer;

    transition: 0.3s ease;

    opacity: 0.5;

    /* border: 1px solid red; */
}
.controlsTrash{
    display: block;
    padding: 7px;
    background: url("assets/trash.svg") no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #2b2b2b;
    border-radius: 20px;

    width: 10px;
    height: 10px;

    align-items: center;
    font: 500 16px 'Raleway';

    user-select: none;
    cursor: pointer;

    transition: 0.1s ease;

    opacity: 0.5;

    /* border: 1px solid red; */
}
.controlsTrash:hover{
    background-color: #FF5151;
    opacity: 1;
}

.newPost{
    width: 60%;
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 45px auto;
    align-items: center;
}

.userImage{
    width: 45px;
    height: 45px;

    background-color: #fff;
    object-fit: cover;
    /* background-size: cover; */
    /* background-size: initial; */
    background-position: center;

    border-radius: 100px;
}

.newPost span{
    font: 600 16px 'Raleway';   
}

.newPost input{
    outline: none;
    border: 1px solid #88888865;
    border-radius: 10px;
    padding: 9px 9px;
    font: 600 16px 'Raleway'; 
    grid-column: 2;  
}

.newPost textarea{
    display: none;
    outline: none;
    border: 1px solid #88888865;
    border-radius: 10px;
    padding: 5px 5px;
    resize: none;
    height: 60px;
    grid-column-end: 3;

    font: 500 14px 'Raleway'; 

    animation: fadeIn 0.2s ease;
}

.newPost button{
    display: none;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 7px 10px;
    width: 100px;
    margin-top: 5px;
    margin-left: auto;
    font: 600 13px 'Raleway'; 

    background-color: #0f0f0f;
    color: #fff;
    user-select: none;

    grid-column: 2;

    cursor: pointer;

    animation: fadeIn 0.4s ease;
}
.newPost button:hover{
    opacity: 0.7;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        margin-top: -20px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background: #0f0f0f;
        color: #fff;
    }

    .logoImg{
        background: url("assets/logoDark.svg") no-repeat;
        background-size: contain;
        width: 12px;
        height: 17px;
    }

    .toTop{
        opacity: 0.5;
        margin-left: auto;
        background: url('assets/goToTopDark.svg') no-repeat;
        background-size: contain;
        background-position: center;
        padding: 12px;
        cursor: pointer;
    }

    .article{
        background-color: #141414;
        border: none;
    }
    .side{
        padding: 20px 20px 10px 20px;
        /* border-right: 1px solid #ffffff2c; */
    
        user-select: none;
    }
    .menu{
        background-color: #0f0f0f;
    }
    .menu li:hover{
        background: #ffffff2c;
    }
    .homeIcon{
        background: url("assets/homeDark.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .commIcon{
        background: url("assets/communityDark.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .bookIcon{
        background: url("assets/bookmarksDark.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .upgIcon{
        background: url("assets/logoutDark.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background-position: center;
    }

    .newPost input{
        background-color: #141414;
        color: #fff;
        border: none;
    }
    .newPost textarea{
        background-color: #141414;
        color: #fff;
        border: none;
    }

    .newPost button{
        background-color: #141414;
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {

}

@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: auto;
        width: auto;
    }

    .toTop{
        display: none;
        position: fixed;
        bottom: 100px;
        right: 20px;
        opacity: 0.3;
        /* animation: fadeIn 0.2s ease; */
    }

    .menu{
        /* margin-top: 20px;
        display: grid;
        grid-template-areas: 
            'btn btn'
            'btn btn'
        ; */


        position: fixed;
        bottom: 0px;
        left: 0px;

        padding: 0px 0px 10px 0px;

        display: grid;
        grid-template-columns: auto auto auto auto;

        width: 100vw;

        border-top: 1px solid #88888865;

        z-index: 10;
    }
    .menu li{
        padding: 10px 10px;
        display: flex;
        /* margin: 10px 0px; */
        font: bold 16px 'Raleway';
        align-items: center;
        border-radius: 10px;
        user-select: none;
        place-content: center;
    }

    .menu li span{
        display: none;
    }
    
    .view{
        overflow-y: unset;
        border-left: none;
    }

    .newPost{
        width: auto;
    }
}
